.exercisesItem{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.setsText{
    font-weight: bold;
}

.weightAndRepstext{

}

.nameText{
    width: 40%;
}

.addButton{
    display: flex;
    padding: 0px;
    margin: 0px;
    border-radius: 15px;
    border: none;
    background: #acd0df;
    align-items: center;
}

.addImage{
    width: 20px;
}